
<div class="sidebar-wrapper ps-container main-left-sidebar">

        <!-- UPDATE available sections based on user / product - ***TO DO*** -->
        <div class="nav-container">
          <ul class="nav">
            <li [routerLink]="['/user-panel']" class="btn btn-link">
              <a title="Dashboard" alt="Dashboard">
                <i class="icon icon-dashboard"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li>
              <a title="My apps" alt="My apps">
                <i class="icon icon-my-apps"></i>
                <p>My apps</p>
              </a>
            </li>
            
            <li>
              <a title="Admin" alt="Admin">
                <i class="icon icon-admin"></i>
                <p>Admin</p>
              </a>
            </li>
            <li class="separator hidden-xs"></li>
          </ul>
      
          <ul class="nav hidden-xs">
            <li >
              <a title="Platform admin" alt="Platform admin">
                <i class="icon icon-platform-admin"></i>
                  <p>Platform admin</p>
              </a>
            </li>
          </ul>
      
        </div><!----nav-container end------>
</div><!----Sidebar wrapper end------>
      