
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class = "navbar-header">
            <a class="navbar-brand">Brief Project Logo</a>
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="user-panel">User Panel</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="admin-panel">Admin Panel</a></li>
            </ul>
        </div>  
    </div>
</nav>
    

<router-outlet></router-outlet>           
    



    
