<!-- 
<div class="row">
  <div class = "col-md-5">
      <ul class="nav nav-pills">
        <li routerLink="/admin-panel" routerLinkActive="active" role="presentation" class="active"><a href="#">ADMIN PANEL</a></li>
        <li routerLink="/user-panel" routerLinkActive="active" role="presentation"><a href="#">USER PANEL</a></li>
      </ul>
  </div>
  
</div>
   -->

   <div class="jumbotron">
      <h3>Home of brief project!</h3>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>